.Artistas-bg {
    background-color: var(--cor-11);
    padding-bottom: 80px;
}


.Artistas {
  padding-top: 60px;  
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  gap: 40px;
}

.Artistas-conteudo{
    background-color: var(--cor-12);
    padding: 32px 32px 32px 60px;
    height: 400px;
    width: 400px;
}

.Artistas-conteudo h2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.Artistas-conteudo a {
    margin-top: 40px;
}

.Artistas-conteudo li+li {
    margin-top: 20px;
}

.Artistas-conteudo li {
    display: flex;
    align-items: center;
    position: relative;
}

.Artistas-conteudo li::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    background-image: url("../../img/icones/lista.svg");
    position: absolute;
    left: -21px;
}


