body{
    margin: 0px;
    font-family: Arial;
}

ul{
    margin: 0px;
    list-style-type: style none;
    padding: 0px;

}

h1, 
ul,
h2,
h3,
p ,
dd{

    margin: 0px;

}

a,
ul,
li{
   text-decoration: none;
   color: inherit;
   list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}


.logo {
    height: 100px;
}

img[src$=".jpg"] {
    border-radius: 4px;
}

