.header-bg{
    background-color: #000;
}


.header{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header-menu a{
    color: var(--cor-2) ;
    display: inline-block;
    padding: 16px 0px ;
    font-size: 18px;
    position: relative;
    font-family: "Poppins";
    font-weight: 400;
}


.header-menu a:after{
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #ffff;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
 }
 
 .header-menu a:hover::after {
     width: 100%;
 }
 
 .header-menu a:hover{
    color: var(--cor-0);
 }



@media (max-width: 600px) {

    .header-menu a {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}