.paragrafo-sobre {
    padding: 30px;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

.galeria-lista {
    display: flex;  

}

.galeria-lista img  {
    height: 400px;
    width: 600px;
}

.galeria-lista li {
    margin-left: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}


